div(class="weatherWidget")
    ul
        each val in partials.weatherContext.locations
            div(class='locations')
                h3= val.name
                a(href=`${val.forecastUrl}`)
                    img(src=val.iconUrl alt=val.weather)
                    #{val.weather}
                    #{val.temp}