html
    head
        title= 'Meadowlark Travel'
        script( src="https://code.jquery.com/jquery-3.5.1.min.js" )
    body
        header
            img(src="/img/logo.jpg")
        block content
