extends layouts/main

block content
    h1= 'Subscribe to our newsletter'

    div.form-container
        form(action="/process?form=newsletter" method="POST" class="form-horizontal newsletterForm" name="registerForm")
            input(type="hidden" name="csrf" val=csrf)
            div.form-group
                label(for="fieldName" class="control-label")
                br
                input(type="text" class="form-control" id="fieldName" name="name" )
            div.form-group
                input(type="email" class="form-control" required id="fieldEmail" name="email" )
            div.form-group
                button(type="submit" id="submit")= 'Registration'
    script.
        const form = document.forms['registerForm'];
        form.addEventListener('submit', (e) => {

            const action = form.action;
            const container = document.querySelector('.form-container');
            const formData = new FormData(form);
            const data = new URLSearchParams(formData).toString();

            fetch(action, {
                method: 'POST',
                body: data
            })
                .then(res => res.status)
                .then(status => {
                  if (status === 200) {
                    container.innerHTML = 'THX BRO!'
                  }
                })
                .catch(e => {
                  container.innerHTML = 'ERROR!'
                  console.log(e.message)
                })
        });
