extends ../layouts/main

block content
    form.uploadPhotoForm(name="uploadForm" enctype="multipart/form-data" method="POST" action=`/contest/vacation-photo/${month}/${year}`)
        div.form-group
            label(for="fieldName")= 'Name'
            input(type="text" id="fieldName" name="name")
        div.form-group
            label(for="fieldEmail")= 'Email'
            input(type="email" id="fieldEmail" name="email")
        div.form-group
            label(for="fieldPhoto")= 'Photo'
            input(type="file" id="fieldPhoto" name="photo" accept="image/*")
        div.form-group
            button(type="submit")= 'Submit'